

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1112px;
  margin: auto;
  
  
  
  
}

.container1{
  width: 1112px;
  margin: auto;
  /* border: 1px solid black; */
  height: 2065px;
  display: flex;
  justify-content: space-between;

}