 

.container{
  width: 1688px;
  height: 510px;
  justify-content: space-between;
  display: flex;
  
  
    
}

 form {
    display: flex;
    flex-direction: column;
  
    margin-left: 800px; 
  }
  
 input {
    margin-bottom: 19px;
    padding: 8px;
    border-radius: 15px;
    width: 500px;
    height: 80px;
    align-items: center;
    background: #ebebeb;
    border: none;
    
  } 
   
  .Button {
    padding: 10px;
    background-color: #FF8A00;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 500px;
    height: 80px;
    margin-left: 800px;
    font-weight: 600;
    font-size: 25px;
    
  }
  
  button:hover {
    background-color: #FF8A00;
    
  }
   
.red{
  margin-left:800px;
  font-weight: 800;
  font-size:60px;

} 


 
.blue{
  width: 526px;
  height: 526px;


  } 

